<li>
	{{burger_name}}

	<button class="devour-burger" data-id="{{id}}" data-eatBurger="{{devoured}}">
		{{#unless devoured}}Chow Down!{{/unless}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
